<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionando Livros</title>
</head>
<body>
    <form method="post" action="/adicionar/books"> 
    

    <label for="title">Qual o titulo do livro</label>
    <input type="button" name="title" id="title"/>
    
    
    
    </form>

</body>
</html>